@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color) !important;
}


ul,
ol {
    margin: 0;
    padding: 0;
}


/* =====Variable Define ===== */
:root {
    --primary-color: #74C365;
    --secondary-color: #00563B ;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', 'sans-serif';
    --secondary-font: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}





/* Custom Scrollbar */


::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background:var(--primary-color);
}

/* Custom CSS Design */

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}


h4 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

h5 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.87rem;
    line-height: 1.5625rem;
    background-color: var(--secondary-color);
    border: 0.1875rem solid var(--secondary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}


.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.wrapper {
    padding-top: 0.25rem;
    padding-bottom: 8.25rem;
}

.text-content {
    width: 70%;
    margin: auto;
}

.navigation-wrap {
    position:fixed;
    width: 100%;
    left:0;
    z-index:1000;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding:0 0.625rem;
  transition:all 200ms linear;
}

.navbar-toggler:focus{
    outline:unset;
    border: unset;
    box-shadow: none;
}

.nav-link {
    font-size:0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--secondary-color);
    letter-spacing: 1px;
}

.navigation-wrap .main-btn{
    padding:0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left:0.625rem;
    background-color: #00563B;
}

.navigation-wrap.scroll-on{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background: var(--white-color);
    box-shadow:0 0.125rem 1.75rem 0 rgb(0,0,0,0.09);
    transition:all .15s ease-in-out 0s;
}







 
           /* home design */

.home {
    width:100%;
    background-image: url('../images/bg/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:16.875rem 0 9.375rem;
}

           /* about section Design */

.about-section {
    background: var(--white-color);
} 

.about-section .card, 
.about-section .card img {
    border-radius: 0.625rem;
}

.about-section .text-sec {
    padding-left:2rem;
}

.blog .container {
    width:100%;
}

.blog .container .row {
    width:80%;
    margin: auto;
}

.blog .container .row .header {
    width:60%;
    text-align: center;
    margin:auto;
}

.container .row .header h1 {
    padding-top: 30px;
    font-size: 45px;
    text-align: center;
}

.container .row .header h2 {
    color: #A82C48;
    text-align: center;
}

.blog .container .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.content .card {
    flex:1;
    margin:50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.content .card img {
    width:100%;
    height: auto;
}

.content .card h4 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p {
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 12px;
    font-weight: 700;
}

.contact .content p {
    font-weight: 300;
}

.contact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact .container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .container .contactInfo .box .icon { 
     min-width: 60px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     font-size: 22px;
}

.contact .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contact .container .contactInfo .box .text h3 {
    font-weight: 500;
    color: var(--primary-color);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: lightgrey;
}

.contactForm h2 {
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: darkgrey;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.footer {
    background-color: rgb(240, 240, 240);
    padding: 70px 0;
}

.footer .container {
    max-width: 1170px;
    background-color: rgb(240, 240, 240);
    margin: auto;
}

.footer .container .ul {
    list-style: none;
}

.footer-col .row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: var(--primary-color);
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--secondary-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}


.social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: black;
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
}

.social-links a:hover {
   color:#24262b;
}





/* product card design */

.landing_product_section .container {
   align-items: center;
}
.landing_product_section .product-card{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    border:transparent;
    border:0.1rem solid lightgreen;
    padding: 2rem 1rem;
    transition: all 0.3s;
    align-items: center;
}

.landing_product_section .product-card .product-img {
    margin-bottom: 7rem;
    text-align: center;
}

.landing_product_section .product-card h3 {
    color: var(--secondary-color);
}

.landing_product_section .product-card span {
   margin-top: 2rem;
   transition: all 0.3s;
   text-align: center;
}

.table {
    border: 1px solid lightgreen;
    text-align: center;
}









